mixin button(props)
	if props.arr
		.btn( class=((props.color ? "btn_" + props.color : "")))&attributes(attributes)
			.btn__i.btn__i_arrow
				block
			.btn__text Back
	else
		.btn(class=((props.color ? "btn_" + props.color : "")))&attributes(attributes)
			.btn__text add
				block
			
		
				
		
		