mixin button(obj={})
	 var props = Object.assign({color: 'white'}, obj);
			if props.i
				.btn(class=`btn_${props.color}`)
					.btn__i.btn__i_arrow	
					.btn__text Hello		
			else
				.btn(class=`btn_${props.color}`)
				.btn__text Hello
			
		
		